
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #fff;
}

th {
  width: 12rem;
}

th, td {
  padding-left: 1rem;
}

ol {
  margin: 0 auto;
  width: 50%;
  padding: 1rem 1rem 1rem 2rem;
  li {
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
  }
}


@media (max-width: 720px) {
  ol {
    padding-left: 1rem;
    width: 90%
  }

  th {
    width: 30%;
  }
}