.dashboard {
  display: grid;
  grid-template-columns: auto 1fr;
}

.user-orders {
  ol {
    position: relative;
    left: -25%;
    width: 150%;
  }
}

select {
  background: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0px;
  box-shadow: none;
  display: block;
  outline: none;
}

@media(max-width: 1020px) {
  .dashboard {
    display: block;

    .form__page {
      height: 100%;
    }
  }
  .user-orders {
    ol {
      left: 0;
      width: 100%;
    }
  }
}