html {
  font-size: 10px;
  min-height: 100%;
}

body {
  color: white;
  min-height: 100vh;
  font: 1.5rem/1.5 'Hind Madurai', sans-serif;
  > #app {
    background-attachment: fixed;
    background-image: url(/assets/images/parcel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    > div {
      background-color: rgba(0, 0, 0, 0.75);
      display: grid;
      grid-template-rows: auto 1fr auto;
      min-height: 100vh;
    }
  }
}

@-webkit-keyframes autofill {
  to {
      color: white;
      background: transparent;
  }
}

@keyframes autofill {
  to {
      color: white;
      background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  animation-name: autofill;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

a {
  color: $green;
  text-decoration: none;
}

@media(max-width: 1080px) {
  html {
    min-height: 100%;
  }
}

.form__page {
  display: flex;
  align-items: center;
  justify-content: center;
  
  .form__container {
    width: 30rem;
    .form {
      width: 100%;
      input {
        background: transparent;
        border: none;
        border-bottom: 1px solid white;
        color: white;
        display: block;
        outline: none;
        text-indent: 1rem;
        width: 100%;

        &.red-border {
          border-bottom-color: $red;
        }
      }

      button {
        background: transparent;
        border-color: $green;
        border-radius: 4px;
        color: $green;
        margin: 2rem 0;
        padding: 0.5rem 0;
        width: 50%;
        text-align: center;
      }

      button:disabled {
        opacity: 0.5;
      }

      .form__input-top {
        .form__input-top__error {
          color: $red;
          &::before {
            content: ' ';
          }
        }
      }
    }
  }
}

.toast--error {
  background-color: $red;
}

.spinner {
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.spinner--button {
  border: 3px solid #f3f3f3;
  border-top: 3px solid $green;
  display: block;
  margin: auto;
  width: 1rem;
  height: 1rem;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
  display: none;
}