html {
  font-size: 10px;
  min-height: 100%;
}

body {
  color: white;
  height: 100%;
  font: 1.5rem/1.5 'Hind Madurai', sans-serif;
  > #app {
    background-attachment: fixed;
    background-image: url(/assets/images/parcel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    > div {
      background-color: rgba(0, 0, 0, 0.7);
      display: grid;
      grid-template-rows: auto 1fr auto;
      height: 100%;
    }
  }
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

a {
  color: hsl(120, 50%, 50%);
  text-decoration: none;
}

@media(max-width: 480px) {
  html {
    height: 100%;
  }
}